pandas==1.1.0
SoundFile==0.10.2
numpy==1.16.4
loguru==0.4.0
h5py==2.9.0
scipy==1.3.0
torch==1.2.0
sed_eval==0.2.1
pytorch_ignite==0.2.0
tqdm==4.32.2
tabulate==0.8.3
six==1.12.0
fire==0.1.3
librosa==0.7.0
ignite==1.1.0
scikit_learn==0.23.1
typing==3.7.4.1
PyYAML==5.4
numba==0.48
pypeln
